body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 100%;
}

.logo-netflix {
    height: 70px;
    width: 170px;
}

.netflix-bg {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('./img/fundo-netflix.jpg');
    background-size: auto;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.select-idioma {
    padding: 10px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.select-idioma:focus {
    border-width: 3px;
}

.botao-entrar {
    margin-left: 15px;
    padding: 5px 12px;
    background-color: rgb(216, 0, 0);
    color: white;
    border-radius: 5px;
}

.container {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-login {
    background-color: rgb(216, 0, 0);
    color: white;
    border-radius: 5px;
    height: 3em;
    width: 10em;
    font-weight: bolder;
}

.login-email {
    background-color: transparent;
    height: 3em;
    width: 25em;
    padding-left: 20px;
}

.title-container {
    font-size: 45px;
    font-weight: bold;
    font-weight: bolder;
}

.assinatura {
    width: 93%;
    height: 140px;
    background: radial-gradient(circle, rgb(97, 6, 44) 30%, rgb(1, 1, 73), black);
    margin-top: 150px;
}

.tv-container {
    background-color: black;
    height: 40em;
    width: 100%;
    border-bottom: 10px solid rgb(51, 51, 51);
}

.pipoca-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 35em;
}

.preco {
    font-size: large;
}

.text-assinatura {
    align-items: baseline;
}

.saiba-mais {
    color: rgb(80, 158, 221);
    font-weight: bold;
}

.container-aproveite {
    display: flex;
    align-items: baseline;
    justify-items: center;
}

.faixa-assinatura {
    width: 93%;
    height: 140px;
    background: radial-gradient(circle, rgb(97, 6, 44)30%, rgb(1, 1, 73), black);
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.faixa-centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto-assinatura {
    align-items: baseline;
    margin-left: 20px;
}

.saiba-mais {
    color: rgb(50, 151, 247);
}

.tv-container {
    height: 35em;
    width: 100%;
    border-bottom: 10px solid #3f3f3f;
    display: flex;
}

.texto-tv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 18em;
}

.aproveite-tv {
    font-size: 45px;
    font-weight: bold;
    font-weight: bolder;
}

.img-tv {
    width: 580px;
    height: 420px;
    z-index: 1;
}

.background-tv-video {
    width: 480px;
    height: 290px;
    z-index: 0;
}